## gradle
/.gradle
/build

## ForgeGradle
/run
/runOther
/libs

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
*.launch

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws

# other
eclipse
runs
run-data

repo